@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    font-family: "Poppins", serif;
}
header {
    background-color: #2ecc71;
    color: white;
    padding: 20px;
    text-align: center;
}
header img{
    width: 100px;
    height: 100px;
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}
.gallery{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
}
.gallery img{
    margin: 10px;
    border: 1px solid green;
    height: 300px;
    width: 300px;
}

.socials i {
    margin: 10px;
    color: white;
}