@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    font-family: "Poppins", serif !important;
}
header{
    background-color: #2ecc71;
    color: white;
    padding: 20px;
    text-align: center;
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}
.placeholder-img {
    background-color: #d3d3d3;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #555;
}
.placeholder-img img{
    width: 100%;
    height: 400px;
    object-fit: cover;
}
.placeholder-video {
    background-color: #d3d3d3;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #555;
}

.placeholder-video iframe {
    width: 100%;
    height: 300px;
}
.flex-container {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}
.flex-item {
    flex: 1;
    padding: 10px;
    background-color: #f4f4f4;
    text-align: center;
    border: 1px solid #ddd;
}

@media (min-width: 1025px) {
    .placeholder-video iframe {
        height: 625px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .placeholder-video iframe {
        height: 525px;
    }
}

@media (min-width: 425px) and (max-width: 768px) {
    .placeholder-video iframe {
        height: 425px;
    }
}

@media (max-width: 424px) {
    .placeholder-video iframe {
        height: 300px;
    }
.socials i {
    margin: 10px;
    color: white;
}
}